:root {
    --primary-color: #202020;
    --secundary-color: #353535;
    --border-color: #d1d1d1;
    --color-btn-cta: #F16232;
    --font-size: 1.5rem;

    --gap: 2.0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, sans-serif;
}

html {
    font-size: 62.5%;
}

.top-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap);
    border-bottom: 1px solid var(--border-color);
}

/* 
.top-navigation {

} */

.visually-hidden {
    display: none;
}

.main-menu-toggle {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: #ffffff00
}

.icon.icon-menu {
    -webkit-mask-image: url(/site-click-sacolas/assets/image/bars-solid.svg);
    background-color: var(--primary-color);
    width: 2.0rem;
    height: 2.5rem;
}

.icon {
    display: inline-block;
    /* flex-shrink: 0; */
    /* height: 1rem; */
    /* height: var(--size); */
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    vertical-align: middle;
    /* width: 1rem; */
    /* width: var(--size); */
}

.main-menu {
    display: flex;
}

.main-menu li {
    margin: 0 20px;
}

.main-menu li:first-child {
    margin-left: 0;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--primary-color);
}

.main-menu a:hover {
    color: var(--secundary-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.btn-menu {
    border: 1px solid var(--secundary-color);
    padding: 7px 15px;
    font-weight: 500;
    border-radius: 4px;
    transition: .3s;
}

.btn-menu:hover {
    background-color: #F16232;
    color: #fff !important;
    border: 1px solid var(--color-btn-cta);
}

@media(min-width: 830px) {
    .main-menu-toggle {
        display: none;
    }
}

@media(max-width: 829px) {
    .main-menu {
        flex-direction: column;
        z-index: 1000;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
    }

    .main-nav ul {
        border-bottom: 1px solid var(--border-color);
        padding-bottom:  10px;
    }

    .main-menu li {
        margin: 12px 0;
        text-align: left;
    }

    .btn-menu {
        background-color: #F16232;
        color: #fff !important;
        border: 1px solid var(--color-btn-cta);
    }

}